app = 'lucent-bot123'
primary_region = 'fra'

[build]

[env]
  NODE_ENV = "production"
  PORT = "8080"

[processes]
  app = "node src/bot.js"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 256